<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @comment.username %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Date:</b>
  <%= @comment.date %>
</p>

<p>
  <b>Id:</b>
  <%= @comment.id %>
</p>

<p>
  <b>Postid:</b>
  <%= @comment.postID %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
