<p id="notice"><%= notice %></p>

<p>
  <b>Meetup:</b>
  <%= @scafford.meetup %>
</p>

<p>
  <b>Location:</b>
  <%= @scafford.location %>
</p>

<p>
  <b>City:</b>
  <%= @scafford.city %>
</p>

<p>
  <b>State:</b>
  <%= @scafford.state %>
</p>

<p>
  <b>Country:</b>
  <%= @scafford.country %>
</p>

<p>
  <b>Date:</b>
  <%= @scafford.date %>
</p>

<p>
  <b>Discription:</b>
  <%= @scafford.discription %>
</p>

<p>
  <b>Cost:</b>
  <%= @scafford.cost %>
</p>

<p>
  <b>Title:</b>
  <%= @scafford.title %>
</p>

<p>
  <b>Organaizer:</b>
  <%= @scafford.organaizer_id %>
</p>

<p>
  <b>Organaizer name:</b>
  <%= @scafford.organaizer_name %>
</p>

<p>
  <b>Distination:</b>
  <%= @scafford.distination %>
</p>


<%= link_to 'Edit', edit_scafford_path(@scafford) %> |
<%= link_to 'Back', scaffords_path %>
