<% javascript :defaults, 'endless_page' %>
<p id="notice"><%= notice %></p>
<div class="wrapper row">
	<div id="user_info_wrapper" class="three columns end">
	    
		<% Profile.find_by_id(current_user.id) do |person|%>
		<div id="user_img">
			<%= image_tag person.image_url(:thumb) if person.image? %>
		</div><!-- end of user_img -->
		<div id="profile">
		
		Current user: <%= current_user.id%><br />
		Current user return : <%= person.user_id%>
			<table>
				<tr>
					<td>User ID : </td>
					<td><%= current_user.id %></td>
				</tr>
				<tr>
					<td>User : </td>
					<td><%= current_user.username%></td>
				</tr>
				<tr>
					<td>DoB : </td>
					<td><%= person.birthday %></td>
				</tr>
			</table>
				
					Following :<br />
					
				<% Friendship.find(:all,:conditions => ["user_id = ?", current_user.id]).each do |friend| %>
					<%Profile.find_by_id(friend.friend_id) do |following|%>
					
					<%= link_to following.userName, profile_path(following.id) %>
					<%= link_to image_tag(following.image_url(:prof)), profile_path(following.id) if following.image?%>
					<%end%>
				<%end%>
				<br />
				<br />
				
				
				
					Follower :<br />
					<% Friendship.find(:all,:conditions => ["friend_id=?", current_user.id]).each do |friend| %>
						<%Profile.find_by_id(friend.user_id) do |follower| %>
						<%= link_to follower.userName, profile_path(friend.user_id) %>
						<%= link_to image_tag(follower.image_url(:prof)), profile_path(follower.id) if follower.image?%>
						<% end %>
					<%end%>
				<br />
				<br />				
				<% if current_user.id == person.id %>
					<%= link_to "Edit Profile", edit_profile_path(current_user.id)%>
				<%end%>
					<%= link_to "View Profile", profile_path(current_user.id) %>

			<%end%><!-- end user -->
		</div><!-- -end of profile -->
	</div><!-- user_info_wrapper -->
	
	<!--<div id="micropost_contents" >-->
	<div class="eight columns">
	<div id="popup_contents" class="rounded-corner"><%= render 'form' %></div>
	<% if user_signed_in?%>
			<h1 class="plaster_font white_font">Everyone's posts !! </h1>
			<div class="post_new">Post!!<!--<%= link_to 'Post', new_micropost_path %>--></div>
		<%if @microposts.empty?%>
		    <div class="posts">
		        <p class="user">Welcome!!</p>
		        <p class="contents">Ooops there is no posts....<br />
		        Let's post what you feel !! 
		        </p>
		        <div class="post_new">Post!!<!--<%= link_to 'Post', new_micropost_path %>--></div>
	        </div>
		<%else%>
		<dl class="tabs">
          <dd class="active"><a href="#all">All Posts</a></dd>
          <dd><a href="#follower">Follower Posts</a></dd>
          <dd><a href="#followed">Followed Posts</a></dd>
        </dl>
        <ul class="tabs-content">
            <li class="active" id="allTab">
            <% javascript :defaults, 'endless_page' %>
            <div id="products">

            </div>
            <p id="loading">Loading more page results...</p>
           
            <% @microposts.find(:all,:order=>'post_time DESC').each do |micropost|%>
            
		    <div class="posts" id="microposts">
		    <!-- 
		        [FIXME]
		            MAYBE YOU CAN FIX THE PROBLEM WITH USING MICROPOST ID CLASS 
		    -->
			    <div class="popup_contents_comments rounded-corner <%= micropost.id%>">
			    <%= form_for(@comment) do |f| %>
                  <% if @comment.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
                      <ul>
                      <% @comment.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  post ID : <%= micropost.id%>
                  <%= f.hidden_field :postID, :value=>micropost.id%>
                  <div class="field">
                    <%= f.label :comment %><br />
                    <%= f.text_area :comment, :size => "30x15"%>
                  </div>

                  	<%= @comment.postID%>
                  	<table>
                  	    <tr>
                            <td><%= f.submit %></td>
                            <td class="close">Cancel</td>
                        </tr>
                    </table>
                <% end %>
			        
			
			    </div><!-- pop up comment-->    
			    <p class="user"><%= micropost.id%> <%=link_to micropost.username,profile_path(micropost.user_id)%></p>
			    <div class="contents">
			    <div id="<%= micropost.id%>" class="picture"><center><%= image_tag(micropost.image_url(:thumb)) if micropost.image?%></center></div>
			    <div class="pic-<%= micropost.id%> popup-picture ui-draggable ui-draggable-dragging"><div class="close" style="float:right;"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Ps-x-button.png/32px-Ps-x-button.png" style="top:-5px;" /></div><%= image_tag(micropost.image_url(:big)) if micropost.image?%></div>
			    <p><%= micropost.posts %></p></div>
			
			    <table>
				    <tr>
				    <td id="<%=micropost.id%>" class="comment_new">Comment<!--<%= link_to 'Comment', {:controller => "comments", :action => "new", :postID => micropost.id }%>-->
				    (<%= @count = Comment.where(:postID => micropost.id).count %>)
				    </td>
			    <% if micropost.user_id == current_user.id %>

		    <!--	<td>	<%= link_to 'Post', new_micropost_path %></td>
					    <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td> -->
					    <td><%= link_to 'Delete', micropost, confirm: 'Are you sure?', method: :delete %></td>
			    <% end %>
				    </tr>
			    </table>
			    <% if @count%>
					    <% Comment.find(:all,:conditions=>{:postID => micropost.id},:order=>'date DESC').each do |comment|%>
					    <div id="comment" class="posts">
						    <p class="user"><%=link_to comment.username,profile_path(comment.user_id)%></p>
						    <p class="contents"><%= comment.comment%></p>
						    <% if comment.username == current_user.username %>
							    <%= link_to 'Delete',comment, confirm: 'Are you sure?', method: :delete %>
						    <% end %>
					    </div><!-- comment -->
					    <% end %>
			    <% end %>

			<!--[Fixme] This line doesn't pass the post ID -->
			
			
		        <div id="window"></div>
	        </div><!-- posts-->
	        <%end%>
	             <%= render :partial => @microposts %>
	            <p id="loading">Loading more page results...</p>
	        </li>
	        <li id="followerTab">

                
	            
	            

            </li>
	

		<% if current_user.id == 55%>
		********************** [ USERS POST REPORTS  ] **********************
		<table>
			<tr>
				<th>Post ID</th>27
				<th>User</th>
				<th>Username</th>
				<th>Posts</th>
				<th>Post time </th>

				<th></th>
				<th></th>
				<th></th>
			</tr>
			<!--SORT_BY ID : ID ORDER WITH 'REVERSE TO REVERSE THE ID ORDER => DESC ORDER BY ID'-->
			<% @microposts.sort_by(&:id).reverse.each do |micropost| %>	
			<tr>
				<td><%= micropost.id %></td>
				<td><%= micropost.user_id %></td>
				<td><%= micropost.username %></td>
				<td><%= micropost.posts %></td>
                <td><%= micropost.post_time%></td>

				<td><%= link_to 'Show', micropost %></td>
				<td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
				<td><%= link_to 'Delete', micropost, confirm: 'Are you sure?', method: :delete %></td>
			</tr>
		<% end %>
		</table>

		<br />
				********************** [ USERS POST REPORTS END ] **********************
	</div>
	<% end %><!-- here is end for the admin user information feld  -- >
	</div>

</div><!-- Wrapper end -->

<%end%>
<%end%>
